.textMessage{
    background-color: cadetblue;
    border-radius: 20px;
    padding: 10px;
    width: 300px;
}

.message{
    margin-top: 20px;
}


.message.own{
    align-items: flex-end;
}

.message.own .textMessage{
    background-color:aliceblue;
    /* align-items: flex-end; */
}